<form method='POST' action='/chats/save'>
    <div class="container-fluid">

        {{#if user}}
            {{#if docreate}}
            <input type='hidden' name='docreate' value="create">
            {{else}}
            <input type='hidden' name='docreate' value="update">
            {{/if}}

            <div class="form-group row align-items-center">
                <label for="user" class="col-1 col-form-label">UserName</label>
                {{#if docreate }}
                <div class="col">
                    <input type='text' class="form-control" placeholder="username" name='user' value='{{chat.user}}' />
                </div>
                {{else}}
                {{#if chat }}
                <span class="input-group-text">{{chat.user}}</span>
                {{/if}}
                <input type='hidden' name='user' value='{{chat.user}}' />
                {{/if}}
            </div>


            <button type="submit" class="btn btn-default">Add User</button>

        {{else}}
        {{> not-logged-in}}
        {{/if}}

    </div>
</form>

{{> footerjs }}