<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            {{#if chat}}<p>{{ chat.user }}</p>{{/if}}
            {{#if chat}}<h2>{{ chat.message }}</h2>{{/if}}
        </div>
    </div>
    {{#if chat }}
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <a class="btn btn-outline-dark" href="/chats/destroy?user={{chat.user}}" role="button">
                    Unsend
                </a>
               
            </div>
        </div>
    </div>
    {{/if}}
</div>
-->


<div class="chat-container">
    <header class="chat-header">
        <h1><i class="fa-light fa-face-smile"></i> ChatCord</h1>

    </header>
    <main class="chat-main">
        <div class="chat-sidebar">
            <h3><i class="fas fa-users"></i> Users</h3>
            <ul id="users">
                <li> Baba</li>
            </ul>
        </div>

        <div class="chat-messages">
            <div class="message card" style="background-color:#DCDCDC ;">
                <p class="meta">Brad <span>9:12pm</span></p>
                <p class="text">
                    {{chat.message}}
                </p>
            </div>
            <div class="message text-right card" style="background-color:#1E90FF;">
                <p class="meta">Mary <span style="color:black;">9:15pm</span></p>
                <p class="text">
                    {{chat.message}}
                </p>
            </div>
            
        </div>

    </main>

    <div class="chat-form-container">
        <form id="chat-form">
            <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
            <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
    </div>
</div>
<!--
<div class="file-loading">
    <input id="input-ficons-1" name="input-ficons-1[]" multiple type="file">
</div>
-->
<script src="/assets/javascripts/script.js"> </script>
